# виртуальное окружение
venv/
.env/

# python cache
__pycache__/
*.pyc

# база данных
instance/
*.db

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# логи
*.log
config.diagnose

# VS Code workspace
*.code-workspace
